In [1]:
import numpy as np # Advanced mathematical functions and linear algebra
import pandas as pd # Data processing ,Data analytics and easy CSV input / output
import seaborn as sns # make a niser plots-updates matplotlib plots
import matplotlib.pyplot as plt #Basic plotting functionality like in MATLAB 
import missingno as msno # mising value visualizations
%matplotlib inline

In [2]:
# get a list of all data in th git project
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'data_dictionary.txt',
 'EDA.ipynb',
 'gb regressor-more improvments.ipynb',
 'Gradient Boosting Regression-First Try.ipynb',
 'Gradient Boosting Regression-Second Try.ipynb',
 'Gradient Boosting Regression-Third Try.ipynb',
 'Gradient Boosting Regression-XGB.ipynb',
 'macro.csv',
 'README.md',
 'sample_submission.csv',
 'test.csv',
 'train.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'zip_file']

In [3]:
macro=pd.read_csv('../ADS-Final-Project-Sberbank/macro.csv/macro.csv')
train=pd.read_csv("../ADS-Final-Project-Sberbank/train.csv/train.csv")
test=pd.read_csv("../ADS-Final-Project-Sberbank/test.csv/test.csv")

In [4]:
#We have alot of NaN information in the macro data 
macro.head().transpose()

,0,1,2,3,4
timestamp,2010-01-01,2010-01-02,2010-01-03,2010-01-04,2010-01-05
oil_urals,76.1,76.1,76.1,76.1,76.1
gdp_quart,NaN,NaN,NaN,NaN,NaN
gdp_quart_growth,NaN,NaN,NaN,NaN,NaN
cpi,NaN,NaN,NaN,NaN,NaN
ppi,NaN,NaN,NaN,NaN,NaN
gdp_deflator,NaN,NaN,NaN,NaN,NaN
balance_trade,NaN,NaN,NaN,NaN,NaN
balance_trade_growth,NaN,NaN,NaN,NaN,NaN
usdrub,NaN,NaN,NaN,29.905,29.836
eurrub,NaN,NaN,NaN,43.4054,42.96
brent,NaN,NaN,NaN,80.12,80.59
net_capital_export,NaN,NaN,NaN,NaN,NaN
gdp_annual,38807.2,38807.2,38807.2,38807.2,38807.2
gdp_annual_growth,-0.0782086,-0.0782086,-0.0782086,-0.0782086,-0.0782086
average_provision_of_build_contract,5,5,5,5,5
average_provision_of_build_contract_moscow,NaN,NaN,NaN,NaN,NaN
rts,NaN,NaN,NaN,NaN,NaN
micex,NaN,NaN,NaN,NaN,NaN
micex_rgbi_tr,NaN,NaN,NaN,NaN,NaN
micex_cbi_tr,NaN,175.15,178.66,183.44,183.44
deposits_value,7484970,7484970,7484970,7484970,7484970
deposits_growth,NaN,NaN,NaN,NaN,NaN
deposits_rate,NaN,NaN,NaN,NaN,NaN
mortgage_value,142968,142968,142968,142968,142968
mortgage_growth,NaN,NaN,NaN,NaN,NaN
mortgage_rate,13.72,13.72,13.72,13.72,13.72
grp,8375.86,8375.86,8375.86,8375.86,8375.86
grp_growth,NaN,NaN,NaN,NaN,NaN
income_per_cap,30789.2,30789.2,30789.2,30789.2,30789.2
...,...,...,...,...,...
rent_price_4+room_bus,NaN,NaN,NaN,NaN,NaN
rent_price_3room_bus,NaN,NaN,NaN,NaN,NaN
rent_price_2room_bus,NaN,NaN,NaN,NaN,NaN
rent_price_1room_bus,NaN,NaN,NaN,NaN,NaN
rent_price_3room_eco,NaN,NaN,NaN,NaN,NaN
rent_price_2room_eco,NaN,NaN,NaN,NaN,NaN
rent_price_1room_eco,NaN,NaN,NaN,NaN,NaN
load_of_teachers_preschool_per_teacher,721.478,721.478,721.478,721.478,721.478
child_on_acc_pre_school,"45,713","45,713","45,713","45,713","45,713"
load_of_teachers_school_per_teacher,1356.11,1356.11,1356.11,1356.11,1356.11
students_state_oneshift,NaN,NaN,NaN,NaN,NaN
modern_education_share,NaN,NaN,NaN,NaN,NaN
old_education_build_share,NaN,NaN,NaN,NaN,NaN
provision_doctors,18,18,18,18,18
provision_nurse,99.4,99.4,99.4,99.4,99.4
load_on_doctors,7872.85,7872.85,7872.85,7872.85,7872.85
power_clinics,162.9,162.9,162.9,162.9,162.9
hospital_beds_available_per_cap,NaN,NaN,NaN,NaN,NaN
hospital_bed_occupancy_per_year,NaN,NaN,NaN,NaN,NaN
provision_retail_space_sqm,NaN,NaN,NaN,NaN,NaN
provision_retail_space_modern_sqm,690,690,690,690,690
turnover_catering_per_cap,6221,6221,6221,6221,6221
theaters_viewers_per_1000_cap,527,527,527,527,527
seats_theather_rfmin_per_100000_cap,0.41,0.41,0.41,0.41,0.41
museum_visitis_per_100_cap,993,993,993,993,993
bandwidth_sports,NaN,NaN,NaN,NaN,NaN
population_reg_sports_share,NaN,NaN,NaN,NaN,NaN
students_reg_sports_share,63.03,63.03,63.03,63.03,63.03
apartment_build,22825,22825,22825,22825,22825
apartment_fund_sqm,NaN,NaN,NaN,NaN,NaN

In [5]:
train.head().transpose() #

,0,1,2,3,4
id,1,2,3,4,5
timestamp,2011-08-20,2011-08-23,2011-08-27,2011-09-01,2011-09-05
full_sq,43,34,43,89,77
life_sq,27,19,29,50,77
floor,4,3,2,9,4
max_floor,NaN,NaN,NaN,NaN,NaN
material,NaN,NaN,NaN,NaN,NaN
build_year,NaN,NaN,NaN,NaN,NaN
num_room,NaN,NaN,NaN,NaN,NaN
kitch_sq,NaN,NaN,NaN,NaN,NaN
state,NaN,NaN,NaN,NaN,NaN
product_type,Investment,Investment,Investment,Investment,Investment
sub_area,Bibirevo,Nagatinskij Zaton,Tekstil'shhiki,Mitino,Basmannoe
area_m,6.40758e+06,9.58934e+06,4.80827e+06,1.25835e+07,8.39846e+06
raion_popul,155572,115352,101708,178473,108171
green_zone_part,0.189727,0.372602,0.11256,0.194703,0.0152337
indust_part,6.99893e-05,0.0496373,0.118537,0.0697534,0.0373165
children_preschool,9576,6880,5879,13087,5706
preschool_quota,5001,3119,1463,6839,3240
preschool_education_centers_raion,5,5,4,9,7
children_school,10309,7759,6207,13670,6748
school_quota,11065,6237,5580,17063,7770
school_education_centers_raion,5,8,7,10,9
school_education_centers_top_20_raion,0,0,0,0,0
hospital_beds_raion,240,229,1183,NaN,562
healthcare_centers_raion,1,1,1,1,4
university_top_20_raion,0,0,0,0,2
sport_objects_raion,7,6,5,17,25
additional_education_raion,3,1,1,6,2
culture_objects_top_25,no,yes,no,no,no
...,...,...,...,...,...
big_church_count_3000,2,1,0,1,70
church_count_3000,4,7,11,2,121
mosque_count_3000,0,0,0,0,1
leisure_count_3000,0,6,0,0,40
sport_count_3000,21,19,20,18,77
market_count_3000,1,1,6,3,5
green_part_5000,13.09,10.26,13.69,14.18,8.38
prom_part_5000,13.31,27.47,21.58,3.89,10.92
office_count_5000,29,66,43,8,689
office_sqm_5000,807385,2690465,1478160,244166,8404624
trc_count_5000,52,40,35,22,114
trc_sqm_5000,4036616,2034942,1572990,942180,3503058
cafe_count_5000,152,177,122,61,2283
cafe_sum_5000_min_price_avg,708.57,673.81,702.68,931.58,853.88
cafe_sum_5000_max_price_avg,1185.71,1148.81,1196.43,1552.63,1411.45
cafe_avg_price_5000,947.14,911.31,949.55,1242.11,1132.66
cafe_count_5000_na_price,12,9,10,4,143
cafe_count_5000_price_500,39,49,29,7,566
cafe_count_5000_price_1000,48,65,45,21,578
cafe_count_5000_price_1500,40,36,25,15,552
cafe_count_5000_price_2500,9,15,10,11,319
cafe_count_5000_price_4000,4,3,3,2,108
cafe_count_5000_price_high,0,0,0,1,17
big_church_count_5000,13,15,11,4,135
church_count_5000,22,29,27,4,236
mosque_count_5000,1,1,0,0,2
leisure_count_5000,0,10,4,0,91
sport_count_5000,52,66,67,26,195
market_count_5000,4,14,10,3,14
price_doc,5850000,6000000,5700000,13100000,16331452

In [6]:
macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 100 columns):
timestamp                                     2484 non-null object
oil_urals                                     2484 non-null float64
gdp_quart                                     2394 non-null float64
gdp_quart_growth                              2394 non-null float64
cpi                                           2453 non-null float64
ppi                                           2453 non-null float64
gdp_deflator                                  2119 non-null float64
balance_trade                                 2453 non-null float64
balance_trade_growth                          2394 non-null float64
usdrub                                        2481 non-null float64
eurrub                                        2481 non-null float64
brent                                         2481 non-null float64
net_capital_export                            2088 non-null float64
gdp_annual                                    2484 non-null float64
gdp_annual_growth                             2484 non-null float64
average_provision_of_build_contract           2484 non-null float64
average_provision_of_build_contract_moscow    2119 non-null float64
rts                                           2474 non-null float64
micex                                         2474 non-null float64
micex_rgbi_tr                                 2474 non-null float64
micex_cbi_tr                                  2483 non-null float64
deposits_value                                2484 non-null int64
deposits_growth                               2453 non-null float64
deposits_rate                                 2070 non-null float64
mortgage_value                                2484 non-null int64
mortgage_growth                               2119 non-null float64
mortgage_rate                                 2484 non-null float64
grp                                           1826 non-null float64
grp_growth                                    1461 non-null float64
income_per_cap                                2191 non-null float64
real_dispos_income_per_cap_growth             1826 non-null float64
salary                                        2191 non-null float64
salary_growth                                 1826 non-null float64
fixed_basket                                  2484 non-null float64
retail_trade_turnover                         2191 non-null float64
retail_trade_turnover_per_cap                 2191 non-null float64
retail_trade_turnover_growth                  2191 non-null float64
labor_force                                   2191 non-null float64
unemployment                                  2191 non-null float64
employment                                    2191 non-null float64
invest_fixed_capital_per_cap                  2191 non-null float64
invest_fixed_assets                           2191 non-null float64
profitable_enterpr_share                      1826 non-null float64
unprofitable_enterpr_share                    1826 non-null float64
share_own_revenues                            1826 non-null float64
overdue_wages_per_cap                         1826 non-null float64
fin_res_per_cap                               1826 non-null float64
marriages_per_1000_cap                        1826 non-null float64
divorce_rate                                  1826 non-null float64
construction_value                            1826 non-null float64
invest_fixed_assets_phys                      1826 non-null float64
pop_natural_increase                          2191 non-null float64
pop_migration                                 1826 non-null float64
pop_total_inc                                 1826 non-null float64
childbirth                                    2191 non-null float64
mortality                                     2191 non-null float64
housing_fund_sqm                              1826 non-null float64
lodging_sqm_per_cap                           1826 non-null float64
water_pipes_share                             1826 non-null float64
baths_share                                   1826 non-null float64
sewerage_share                                1826 non-null float64
gas_share                                     1826 non-null float64
hot_water_share                               1826 non-null float64
electric_stove_share                          1826 non-null float64
heating_share                                 1826 non-null float64
old_house_share                               1826 non-null float64
average_life_exp                              2191 non-null float64
infant_mortarity_per_1000_cap                 1826 non-null float64
perinatal_mort_per_1000_cap                   1826 non-null float64
incidence_population                          1826 non-null float64
rent_price_4+room_bus                         2211 non-null float64
rent_price_3room_bus                          2211 non-null float64
rent_price_2room_bus                          2211 non-null float64
rent_price_1room_bus                          2211 non-null float64
rent_price_3room_eco                          2211 non-null float64
rent_price_2room_eco                          2211 non-null float64
rent_price_1room_eco                          2211 non-null float64
load_of_teachers_preschool_per_teacher        1461 non-null float64
child_on_acc_pre_school                       1826 non-null object
load_of_teachers_school_per_teacher           2191 non-null float64
students_state_oneshift                       1826 non-null float64
modern_education_share                        1095 non-null object
old_education_build_share                     1095 non-null object
provision_doctors                             1826 non-null float64
provision_nurse                               2191 non-null float64
load_on_doctors                               2191 non-null float64
power_clinics                                 1826 non-null float64
hospital_beds_available_per_cap               1461 non-null float64
hospital_bed_occupancy_per_year               1461 non-null float64
provision_retail_space_sqm                    731 non-null float64
provision_retail_space_modern_sqm             730 non-null float64
turnover_catering_per_cap                     2191 non-null float64
theaters_viewers_per_1000_cap                 1461 non-null float64
seats_theather_rfmin_per_100000_cap           2191 non-null float64
museum_visitis_per_100_cap                    1461 non-null float64
bandwidth_sports                              1826 non-null float64
population_reg_sports_share                   1461 non-null float64
students_reg_sports_share                     1461 non-null float64
apartment_build                               1826 non-null float64
apartment_fund_sqm                            1826 non-null float64
dtypes: float64(94), int64(2), object(4)
memory usage: 1.9+ MB

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Columns: 292 entries, id to price_doc
dtypes: float64(119), int64(157), object(16)
memory usage: 67.9+ MB

## Make marge between the train and macro

In [8]:
expend_train=pd.merge(left=train, right=macro,how='left',left_on='timestamp',right_on='timestamp')

In [12]:
expend_train.head().transpose()

,0,1,2,3,4
id,1,2,3,4,5
timestamp,2011-08-20,2011-08-23,2011-08-27,2011-09-01,2011-09-05
full_sq,43,34,43,89,77
life_sq,27,19,29,50,77
floor,4,3,2,9,4
max_floor,NaN,NaN,NaN,NaN,NaN
material,NaN,NaN,NaN,NaN,NaN
build_year,NaN,NaN,NaN,NaN,NaN
num_room,NaN,NaN,NaN,NaN,NaN
kitch_sq,NaN,NaN,NaN,NaN,NaN
state,NaN,NaN,NaN,NaN,NaN
product_type,Investment,Investment,Investment,Investment,Investment
sub_area,Bibirevo,Nagatinskij Zaton,Tekstil'shhiki,Mitino,Basmannoe
area_m,6.40758e+06,9.58934e+06,4.80827e+06,1.25835e+07,8.39846e+06
raion_popul,155572,115352,101708,178473,108171
green_zone_part,0.189727,0.372602,0.11256,0.194703,0.0152337
indust_part,6.99893e-05,0.0496373,0.118537,0.0697534,0.0373165
children_preschool,9576,6880,5879,13087,5706
preschool_quota,5001,3119,1463,6839,3240
preschool_education_centers_raion,5,5,4,9,7
children_school,10309,7759,6207,13670,6748
school_quota,11065,6237,5580,17063,7770
school_education_centers_raion,5,8,7,10,9
school_education_centers_top_20_raion,0,0,0,0,0
hospital_beds_raion,240,229,1183,NaN,562
healthcare_centers_raion,1,1,1,1,4
university_top_20_raion,0,0,0,0,2
sport_objects_raion,7,6,5,17,25
additional_education_raion,3,1,1,6,2
culture_objects_top_25,no,yes,no,no,no
...,...,...,...,...,...
rent_price_4+room_bus,136.11,136.11,136.11,155.22,155.22
rent_price_3room_bus,77.93,77.93,77.93,94.02,94.02
rent_price_2room_bus,62.89,62.89,62.89,66.28,66.28
rent_price_1room_bus,47.85,47.85,47.85,51.15,51.15
rent_price_3room_eco,41.8,41.8,41.8,44.25,44.25
rent_price_2room_eco,36.77,36.77,36.77,37.73,37.73
rent_price_1room_eco,29.07,29.07,29.07,30.63,30.63
load_of_teachers_preschool_per_teacher,793.32,793.32,793.32,793.32,793.32
child_on_acc_pre_school,#!,#!,#!,#!,#!
load_of_teachers_school_per_teacher,1391.71,1391.71,1391.71,1391.71,1391.71
students_state_oneshift,89.0495,89.0495,89.0495,89.0495,89.0495
modern_education_share,NaN,NaN,NaN,NaN,NaN
old_education_build_share,NaN,NaN,NaN,NaN,NaN
provision_doctors,65.9,65.9,65.9,65.9,65.9
provision_nurse,99.6,99.6,99.6,99.6,99.6
load_on_doctors,8180.76,8180.76,8180.76,8180.76,8180.76
power_clinics,375.8,375.8,375.8,375.8,375.8
hospital_beds_available_per_cap,846,846,846,846,846
hospital_bed_occupancy_per_year,302,302,302,302,302
provision_retail_space_sqm,741,741,741,741,741
provision_retail_space_modern_sqm,271,271,271,271,271
turnover_catering_per_cap,6943,6943,6943,6943,6943
theaters_viewers_per_1000_cap,565,565,565,565,565
seats_theather_rfmin_per_100000_cap,0.45356,0.45356,0.45356,0.45356,0.45356
museum_visitis_per_100_cap,1240,1240,1240,1240,1240
bandwidth_sports,269768,269768,269768,269768,269768
population_reg_sports_share,22.37,22.37,22.37,22.37,22.37
students_reg_sports_share,64.12,64.12,64.12,64.12,64.12
apartment_build,23587,23587,23587,23587,23587
apartment_fund_sqm,230310,230310,230310,230310,230310